/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, sass/helpers/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, sass/helpers/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, sass/helpers/_reset.scss */
body {
  line-height: 1;
}

/* line 34, sass/helpers/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, sass/helpers/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, sass/helpers/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, sass/helpers/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 52, sass/helpers/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 2, sass/helpers/_grid.scss */
.container {
  display: grid;
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  /* line 2, sass/helpers/_grid.scss */
  .container {
    width: 960px;
  }
}

@media only screen and (min-width: 1440px) {
  /* line 2, sass/helpers/_grid.scss */
  .container {
    width: 1280px;
  }
}

/* line 1, sass/helpers/_config.scss */
html {
  scroll-behavior: smooth;
}

/* line 4, sass/helpers/_config.scss */
body {
  font-family: "Museo Sans", sans-serif;
}

/* line 8, sass/helpers/_config.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 13, sass/helpers/_config.scss */
button:focus {
  outline: none;
}

/* line 16, sass/helpers/_config.scss */
.image--fluid {
  max-width: 100%;
}

/* line 19, sass/helpers/_config.scss */
.color--white {
  color: #ffffff !important;
}

/* line 22, sass/helpers/_config.scss */
.background--gray {
  background: #b5b5b5 !important;
}

@font-face {
  font-family: 'Museo Slab';
  src: url("../fonts/MuseoSlab-900.woff2") format("woff2"), url("../fonts/MuseoSlab-900.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSans-300.woff2") format("woff2"), url("../fonts/MuseoSans-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSans-700.woff2") format("woff2"), url("../fonts/MuseoSans-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Sans';
  src: url("../fonts/MuseoSans-500.woff2") format("woff2"), url("../fonts/MuseoSans-500.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* line 2, sass/atoms/_logo.scss */
.logo__image {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 640px) {
  /* line 2, sass/atoms/_logo.scss */
  .logo__image {
    width: 165px;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 2, sass/atoms/_logo.scss */
  .logo__image {
    width: 225px;
  }
}

/* line 1, sass/atoms/_weather.scss */
.weather {
  -webkit-box-align: center;
  align-items: center;
}

@media only screen and (min-width: 640px) {
  /* line 1, sass/atoms/_weather.scss */
  .weather {
    display: inline;
    padding: 0 8.66667px;
  }
}

/* line 7, sass/atoms/_weather.scss */
.weather__image {
  width: 40%;
  vertical-align: middle;
}

@media only screen and (min-width: 640px) {
  /* line 7, sass/atoms/_weather.scss */
  .weather__image {
    width: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 7, sass/atoms/_weather.scss */
  .weather__image {
    width: 35px;
  }
}

/* line 17, sass/atoms/_weather.scss */
.weather__info {
  display: inline;
  font-family: "Museo Slab", sans-serif;
  font-size: 14px;
  line-height: 26px;
  vertical-align: middle;
}

@media only screen and (min-width: 1024px) {
  /* line 17, sass/atoms/_weather.scss */
  .weather__info {
    font-size: 16px;
  }
}

/* line 1, sass/atoms/_radio.scss */
.radio {
  display: none;
}

@media only screen and (min-width: 640px) {
  /* line 1, sass/atoms/_radio.scss */
  .radio {
    display: inline;
    padding: 0 8.66667px;
  }
}

/* line 7, sass/atoms/_radio.scss */
.radio__image {
  width: 40%;
  vertical-align: middle;
}

@media only screen and (min-width: 640px) {
  /* line 7, sass/atoms/_radio.scss */
  .radio__image {
    width: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 7, sass/atoms/_radio.scss */
  .radio__image {
    width: 35px;
  }
}

/* line 17, sass/atoms/_radio.scss */
.radio__info {
  display: inline;
  font-family: "Museo Slab", sans-serif;
  font-size: 14px;
  line-height: 26px;
  vertical-align: middle;
}

@media only screen and (min-width: 1024px) {
  /* line 17, sass/atoms/_radio.scss */
  .radio__info {
    font-size: 16px;
  }
}

/* line 1, sass/atoms/_social.scss */
.social {
  display: none;
}

@media only screen and (min-width: 640px) {
  /* line 1, sass/atoms/_social.scss */
  .social {
    display: inline;
    padding: 0 8.66667px;
  }
}

/* line 8, sass/atoms/_social.scss */
.social__icon {
  width: 40%;
  vertical-align: middle;
}

@media only screen and (min-width: 640px) {
  /* line 8, sass/atoms/_social.scss */
  .social__icon {
    width: 25px;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 8, sass/atoms/_social.scss */
  .social__icon {
    width: 30px;
  }
}

/* line 1, sass/atoms/_open-menu.scss */
.open-menu {
  grid-column: span 2;
  text-align: center;
}

@media only screen and (min-width: 640px) {
  /* line 1, sass/atoms/_open-menu.scss */
  .open-menu {
    grid-column: span 1;
  }
}

/* line 7, sass/atoms/_open-menu.scss */
.open-menu__button {
  border: solid 1px #435460;
  border-radius: 50%;
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  background: transparent;
}

@media only screen and (min-width: 400px) {
  /* line 7, sass/atoms/_open-menu.scss */
  .open-menu__button {
    width: 37px;
    height: 37px;
  }
}

@media only screen and (min-width: 640px) {
  /* line 7, sass/atoms/_open-menu.scss */
  .open-menu__button {
    width: 40px;
    height: 40px;
  }
}

/* line 27, sass/atoms/_open-menu.scss */
.open-menu__button:hover .open-menu__line-3 {
  width: 17px;
  left: 50%;
}

@media only screen and (min-width: 640px) {
  /* line 27, sass/atoms/_open-menu.scss */
  .open-menu__button:hover .open-menu__line-3 {
    width: 20px;
    left: 50%;
  }
}

/* line 36, sass/atoms/_open-menu.scss */
.open-menu__line-1, .open-menu__line-2, .open-menu__line-3 {
  display: block;
  position: absolute;
  width: 17px;
  height: 3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #0c141b;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

@media only screen and (min-width: 400px) {
  /* line 36, sass/atoms/_open-menu.scss */
  .open-menu__line-1, .open-menu__line-2, .open-menu__line-3 {
    width: 18px;
  }
}

@media only screen and (min-width: 640px) {
  /* line 36, sass/atoms/_open-menu.scss */
  .open-menu__line-1, .open-menu__line-2, .open-menu__line-3 {
    width: 20px;
  }
}

/* line 54, sass/atoms/_open-menu.scss */
.open-menu__line-1 {
  top: 8px;
}

@media only screen and (min-width: 400px) {
  /* line 54, sass/atoms/_open-menu.scss */
  .open-menu__line-1 {
    top: 10px;
  }
}

@media only screen and (min-width: 640px) {
  /* line 54, sass/atoms/_open-menu.scss */
  .open-menu__line-1 {
    top: 12px;
  }
}

/* line 63, sass/atoms/_open-menu.scss */
.open-menu__line-2 {
  top: 14px;
}

@media only screen and (min-width: 400px) {
  /* line 63, sass/atoms/_open-menu.scss */
  .open-menu__line-2 {
    top: 16px;
  }
}

@media only screen and (min-width: 640px) {
  /* line 63, sass/atoms/_open-menu.scss */
  .open-menu__line-2 {
    top: 18px;
  }
}

/* line 72, sass/atoms/_open-menu.scss */
.open-menu__line-3 {
  top: 20px;
  left: 47%;
  width: 14px;
}

@media only screen and (min-width: 400px) {
  /* line 72, sass/atoms/_open-menu.scss */
  .open-menu__line-3 {
    top: 22px;
    left: 45%;
  }
}

@media only screen and (min-width: 640px) {
  /* line 72, sass/atoms/_open-menu.scss */
  .open-menu__line-3 {
    top: 24px;
    left: 44%;
    width: 15px;
  }
}

/* line 1, sass/atoms/_close-menu.scss */
.close-menu {
  grid-column: span 2;
  text-align: center;
}

@media only screen and (min-width: 640px) {
  /* line 1, sass/atoms/_close-menu.scss */
  .close-menu {
    grid-column: span 1;
  }
}

/* line 7, sass/atoms/_close-menu.scss */
.close-menu__button {
  border: solid 1px #435460;
  border-radius: 50%;
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  background: transparent;
}

@media only screen and (min-width: 400px) {
  /* line 7, sass/atoms/_close-menu.scss */
  .close-menu__button {
    width: 37px;
    height: 37px;
  }
}

@media only screen and (min-width: 640px) {
  /* line 7, sass/atoms/_close-menu.scss */
  .close-menu__button {
    width: 40px;
    height: 40px;
  }
}

/* line 24, sass/atoms/_close-menu.scss */
.close-menu__button:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 28, sass/atoms/_close-menu.scss */
.close-menu__line-1, .close-menu__line-2 {
  display: block;
  position: absolute;
  width: 17px;
  height: 2px;
  left: 7px;
  top: 14px;
  background: #ffffff;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

@media only screen and (min-width: 400px) {
  /* line 28, sass/atoms/_close-menu.scss */
  .close-menu__line-1, .close-menu__line-2 {
    width: 18px;
    left: 9px;
    top: 18px;
  }
}

@media only screen and (min-width: 640px) {
  /* line 28, sass/atoms/_close-menu.scss */
  .close-menu__line-1, .close-menu__line-2 {
    width: 20px;
  }
}

/* line 48, sass/atoms/_close-menu.scss */
.close-menu__line-1 {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

/* line 51, sass/atoms/_close-menu.scss */
.close-menu__line-2 {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* line 2, sass/atoms/_title-section.scss */
.title-section__title {
  color: #de1326;
  font-family: "Museo Slab", sans-serif;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 26px;
  text-align: center;
}

@media only screen and (min-width: 640px) {
  /* line 2, sass/atoms/_title-section.scss */
  .title-section__title {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 2, sass/atoms/_title-section.scss */
  .title-section__title {
    text-align: left;
    font-size: 22px;
    line-height: 39px;
    padding-bottom: 0;
  }
}

/* line 22, sass/atoms/_title-section.scss */
.title-section__line {
  display: none;
  width: 100%;
  height: 1px;
  background: #445766;
  margin: 26px 0;
}

@media only screen and (min-width: 1024px) {
  /* line 22, sass/atoms/_title-section.scss */
  .title-section__line {
    display: block;
  }
}

/* line 1, sass/atoms/_title-page.scss */
.title-page {
  text-align: center;
}

/* line 3, sass/atoms/_title-page.scss */
.title-page__title {
  color: #ffffff;
}

/* line 1, sass/atoms/_ads.scss */
.ad-billboard {
  padding: 52px 0;
  text-align: center;
}

/* line 4, sass/atoms/_ads.scss */
.ad-billboard__link {
  display: block;
}

/* line 7, sass/atoms/_ads.scss */
.ad-billboard__image {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
}

/* line 15, sass/atoms/_ads.scss */
.ad-leaderboard {
  padding: 52px 0;
  text-align: center;
}

/* line 18, sass/atoms/_ads.scss */
.ad-leaderboard__link {
  display: block;
}

/* line 21, sass/atoms/_ads.scss */
.ad-leaderboard__image {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
}

/* line 29, sass/atoms/_ads.scss */
.ad-inline-rectangle {
  padding: 52px 0;
  text-align: center;
}

/* line 32, sass/atoms/_ads.scss */
.ad-inline-rectangle__link {
  display: block;
}

/* line 35, sass/atoms/_ads.scss */
.ad-inline-rectangle__image {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
}

/* line 1, sass/molecules/_nav-left.scss */
.nav-left {
  grid-column: span 6;
  text-align: center;
}

@media only screen and (min-width: 640px) {
  /* line 1, sass/molecules/_nav-left.scss */
  .nav-left {
    grid-column: span 4;
  }
}

/* line 1, sass/molecules/_nav-right.scss */
.nav-right {
  grid-column: span 4;
  text-align: center;
}

@media only screen and (min-width: 640px) {
  /* line 1, sass/molecules/_nav-right.scss */
  .nav-right {
    grid-column: span 7;
    text-align: right;
  }
}

/* line 1, sass/molecules/_main-news.scss */
.main-news {
  position: relative;
}

/* line 3, sass/molecules/_main-news.scss */
.main-news__image {
  width: 100%;
  position: relative;
  max-width: 100%;
}

/* line 8, sass/molecules/_main-news.scss */
.main-news__permalink-image {
  display: block;
  line-height: 0;
}

/* line 12, sass/molecules/_main-news.scss */
.main-news__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(12, 20, 27, 0.6);
}

/* line 20, sass/molecules/_main-news.scss */
.main-news__info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 26px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  /* line 20, sass/molecules/_main-news.scss */
  .main-news__info {
    text-align: left;
  }
}

@media only screen and (min-width: 1440px) {
  /* line 20, sass/molecules/_main-news.scss */
  .main-news__info {
    padding: 39px;
  }
}

/* line 34, sass/molecules/_main-news.scss */
.main-news__wrapper-excerpt {
  display: inline-block;
  background: #de1326;
  padding: 6.5px 17.33333px;
  border-radius: 25px;
  text-align: center;
}

/* line 41, sass/molecules/_main-news.scss */
.main-news__excerpt {
  color: #ffffff;
  font-family: "Museo Sans", sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

@media only screen and (min-width: 1440px) {
  /* line 41, sass/molecules/_main-news.scss */
  .main-news__excerpt {
    font-size: 10px;
  }
}

/* line 53, sass/molecules/_main-news.scss */
.main-news__wrapper-title {
  padding-top: 13px;
}

/* line 56, sass/molecules/_main-news.scss */
.main-news__title {
  color: #ffffff;
  font-family: "Museo Slab", sans-serif;
  font-size: 18px;
  line-height: 26px;
}

@media only screen and (min-width: 1024px) {
  /* line 56, sass/molecules/_main-news.scss */
  .main-news__title {
    font-size: 18px;
    line-height: 26px;
  }
}

@media only screen and (min-width: 1440px) {
  /* line 56, sass/molecules/_main-news.scss */
  .main-news__title {
    font-size: 22px;
    line-height: 28.6px;
  }
}

/* line 69, sass/molecules/_main-news.scss */
.main-news__title--1 {
  font-size: 22px;
}

@media only screen and (min-width: 640px) {
  /* line 69, sass/molecules/_main-news.scss */
  .main-news__title--1 {
    font-size: 26px;
    line-height: 33.8px;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 69, sass/molecules/_main-news.scss */
  .main-news__title--1 {
    max-width: 570px;
    font-size: 32px;
    line-height: 39px;
  }
}

@media only screen and (min-width: 1440px) {
  /* line 69, sass/molecules/_main-news.scss */
  .main-news__title--1 {
    max-width: 650px;
    font-size: 36px;
    line-height: 44.2px;
  }
}

/* line 87, sass/molecules/_main-news.scss */
.main-news__permalink {
  display: inline-block;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  position: relative;
}

/* line 91, sass/molecules/_main-news.scss */
.main-news__permalink:hover {
  -webkit-transform: translateX(2%);
  transform: translateX(2%);
}

/* line 94, sass/molecules/_main-news.scss */
.main-news__permalink::before {
  content: '';
  position: absolute;
  top: 0;
  left: -15px;
  width: 3px;
  height: 0;
  background: #de1326;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

/* line 105, sass/molecules/_main-news.scss */
.main-news__permalink:hover::before {
  height: 100%;
}

/* line 1, sass/molecules/_post-item.scss */
.post-item {
  margin: 8.66667px 0;
  border-radius: 20px;
  border: solid 1px #9e9e9e;
  background: #ffffff;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

@media only screen and (min-width: 1440px) {
  /* line 1, sass/molecules/_post-item.scss */
  .post-item {
    margin: 13px 0;
  }
}

/* line 10, sass/molecules/_post-item.scss */
.post-item:hover {
  border-color: #de1326;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.15);
}

/* line 15, sass/molecules/_post-item.scss */
.post-item__image {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 18px 18px 0 0;
}

/* line 21, sass/molecules/_post-item.scss */
.post-item__permalink-image {
  display: block;
  line-height: 0;
}

/* line 25, sass/molecules/_post-item.scss */
.post-item__post-image {
  width: 100%;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  border-radius: 18px 18px 0 0;
}

/* line 29, sass/molecules/_post-item.scss */
.post-item__post-image:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

/* line 34, sass/molecules/_post-item.scss */
.post-item__content {
  padding: 26px;
}

/* line 37, sass/molecules/_post-item.scss */
.post-item__wrapper-excerpt {
  padding-bottom: 26px;
}

/* line 40, sass/molecules/_post-item.scss */
.post-item__excerpt {
  color: #9e9e9e;
  font-family: "Museo Sans", sans-serif;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (min-width: 1440px) {
  /* line 40, sass/molecules/_post-item.scss */
  .post-item__excerpt {
    font-size: 11px;
  }
}

/* line 50, sass/molecules/_post-item.scss */
.post-item__wrapper-title {
  padding-bottom: 26px;
}

/* line 53, sass/molecules/_post-item.scss */
.post-item__title {
  color: #0c141b;
  font-family: "Museo Slab", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

@media only screen and (min-width: 640px) {
  /* line 53, sass/molecules/_post-item.scss */
  .post-item__title {
    font-size: 16px;
    line-height: 26px;
  }
}

@media only screen and (min-width: 1440px) {
  /* line 53, sass/molecules/_post-item.scss */
  .post-item__title {
    font-size: 18px;
    line-height: 28.6px;
  }
}

/* line 67, sass/molecules/_post-item.scss */
.post-item__permalink {
  display: inline-block;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  position: relative;
}

/* line 71, sass/molecules/_post-item.scss */
.post-item__permalink:hover {
  -webkit-transform: translateX(2%);
  transform: translateX(2%);
}

/* line 74, sass/molecules/_post-item.scss */
.post-item__permalink::before {
  content: '';
  position: absolute;
  top: 0;
  left: -15px;
  width: 3px;
  height: 0;
  background: #de1326;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

/* line 85, sass/molecules/_post-item.scss */
.post-item__permalink:hover::before {
  height: 100%;
}

/* line 89, sass/molecules/_post-item.scss */
.post-item__category {
  display: inline-block;
  margin-bottom: 8.66667px;
  background: #de1326;
  padding: 6.5px 17.33333px;
  border-radius: 25px;
  text-align: center;
}

/* line 96, sass/molecules/_post-item.scss */
.post-item__category:hover {
  background: #0c141b;
}

/* line 100, sass/molecules/_post-item.scss */
.post-item__category-permalink {
  display: block;
  color: #ffffff;
  font-family: "Museo Sans", sans-serif;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
}

@media only screen and (min-width: 1440px) {
  /* line 100, sass/molecules/_post-item.scss */
  .post-item__category-permalink {
    font-size: 10px;
  }
}

/* line 1, sass/organisms/_header.scss */
.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 13px;
  padding: 13px 26px;
  border-bottom: solid 3px #de1326;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

@media only screen and (min-width: 1024px) {
  /* line 1, sass/organisms/_header.scss */
  .header {
    padding: 0 26px;
  }
}

/* line 12, sass/organisms/_header.scss */
.header.active {
  padding-bottom: 6px;
}

/* line 1, sass/organisms/_menu.scss */
.menu {
  position: fixed;
  background: #0e171e;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-transition: .6s ease;
  transition: .6s ease;
  z-index: 9999;
}

@media only screen and (min-width: 640px) {
  /* line 1, sass/organisms/_menu.scss */
  .menu {
    height: 100vh;
  }
}

/* line 18, sass/organisms/_menu.scss */
.menu__header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 13px;
  padding: 26px 0;
  background: #0c141b;
}

@media only screen and (min-width: 640px) {
  /* line 18, sass/organisms/_menu.scss */
  .menu__header {
    grid-gap: 26px;
  }
}

/* line 28, sass/organisms/_menu.scss */
.menu .logo {
  display: grid;
  grid-column: span 2;
}

@media only screen and (min-width: 640px) {
  /* line 28, sass/organisms/_menu.scss */
  .menu .logo {
    grid-column: 2 / 3;
  }
}

/* line 34, sass/organisms/_menu.scss */
.menu .logo__image {
  width: 75%;
  margin: 0 auto;
}

@media only screen and (min-width: 400px) {
  /* line 34, sass/organisms/_menu.scss */
  .menu .logo__image {
    width: 60%;
  }
}

@media only screen and (min-width: 640px) {
  /* line 34, sass/organisms/_menu.scss */
  .menu .logo__image {
    width: 200px;
  }
}

/* line 45, sass/organisms/_menu.scss */
.menu .close-menu {
  display: grid;
  grid-column: span 1;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

/* line 51, sass/organisms/_menu.scss */
.menu__radio {
  display: grid;
  grid-template-columns: 1fr;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 13px 0;
}

/* line 52, sass/organisms/_menu.scss */
.menu__radio .radio {
  display: block;
  text-align: center;
  color: #ffffff;
}

/* line 56, sass/organisms/_menu.scss */
.menu__radio .radio__image {
  width: 15%;
}

@media only screen and (min-width: 400px) {
  /* line 56, sass/organisms/_menu.scss */
  .menu__radio .radio__image {
    width: 12%;
  }
}

@media only screen and (min-width: 640px) {
  /* line 51, sass/organisms/_menu.scss */
  .menu__radio {
    display: none;
  }
}

/* line 72, sass/organisms/_menu.scss */
.menu__nav {
  display: grid;
  padding-left: 52px;
}

@media only screen and (min-width: 640px) {
  /* line 72, sass/organisms/_menu.scss */
  .menu__nav {
    padding-left: 0;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 72, sass/organisms/_menu.scss */
  .menu__nav {
    padding-top: 52px;
    padding-bottom: 52px;
  }
}

/* line 83, sass/organisms/_menu.scss */
.menu__items {
  padding: 13px 0;
  text-align: left;
}

/* line 86, sass/organisms/_menu.scss */
.menu__items:hover .menu__links {
  color: #de1326;
  -webkit-transform: translateY(13%);
  transform: translateY(13%);
}

@media only screen and (min-width: 640px) {
  /* line 83, sass/organisms/_menu.scss */
  .menu__items {
    text-align: center;
  }
}

/* line 94, sass/organisms/_menu.scss */
.menu__links {
  display: inline-block;
  font-family: "Museo Slab", sans-serif;
  color: #ffffff;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

/* line 100, sass/organisms/_menu.scss */
.menu__social {
  display: grid;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

/* line 104, sass/organisms/_menu.scss */
.menu__social .social {
  display: block;
  text-align: center;
  border-top: solid 1px #445766;
  padding: 26px 0;
}

/* line 109, sass/organisms/_menu.scss */
.menu__social .social__icon {
  width: 10%;
}

/* line 1, sass/organisms/_wrapper-main-news.scss */
.wrapper-main-news {
  display: grid;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 640px) {
  /* line 1, sass/organisms/_wrapper-main-news.scss */
  .wrapper-main-news {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  /* line 1, sass/organisms/_wrapper-main-news.scss */
  .wrapper-main-news {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* line 12, sass/organisms/_wrapper-main-news.scss */
.wrapper-main-news .main-news.main-news--n-1 {
  grid-column: span 1;
}

@media only screen and (min-width: 640px) {
  /* line 12, sass/organisms/_wrapper-main-news.scss */
  .wrapper-main-news .main-news.main-news--n-1 {
    grid-column: span 2;
    height: auto;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 12, sass/organisms/_wrapper-main-news.scss */
  .wrapper-main-news .main-news.main-news--n-1 {
    grid-column: 1 / 9;
    grid-row: span 2;
  }
}

/* line 25, sass/organisms/_wrapper-main-news.scss */
.wrapper-main-news .main-news.main-news--n-2 {
  grid-column: span 1;
}

@media only screen and (min-width: 640px) {
  /* line 25, sass/organisms/_wrapper-main-news.scss */
  .wrapper-main-news .main-news.main-news--n-2 {
    grid-column: span 1;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 25, sass/organisms/_wrapper-main-news.scss */
  .wrapper-main-news .main-news.main-news--n-2 {
    grid-column: 9 / 13;
    grid-row: span 1;
  }
}

/* line 37, sass/organisms/_wrapper-main-news.scss */
.wrapper-main-news .main-news.main-news--n-3 {
  grid-column: span 1;
}

@media only screen and (min-width: 640px) {
  /* line 37, sass/organisms/_wrapper-main-news.scss */
  .wrapper-main-news .main-news.main-news--n-3 {
    grid-column: span 1;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 37, sass/organisms/_wrapper-main-news.scss */
  .wrapper-main-news .main-news.main-news--n-3 {
    grid-column: 9 / 13;
    grid-row: span 1;
  }
}

/* line 2, sass/organisms/_news-loop-one.scss */
.news-loop-one .container {
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 500px) {
  /* line 2, sass/organisms/_news-loop-one.scss */
  .news-loop-one .container {
    width: 70%;
  }
}

@media only screen and (min-width: 640px) {
  /* line 2, sass/organisms/_news-loop-one.scss */
  .news-loop-one .container {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 2, sass/organisms/_news-loop-one.scss */
  .news-loop-one .container {
    width: 960px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 13px;
  }
}

@media only screen and (min-width: 1440px) {
  /* line 2, sass/organisms/_news-loop-one.scss */
  .news-loop-one .container {
    width: 1280px;
    grid-gap: 26px;
  }
}

/* line 20, sass/organisms/_news-loop-one.scss */
.news-loop-one .post-item {
  grid-column: span 1;
}

/* line 2, sass/organisms/_news-loop-two.scss */
.news-loop-two .container {
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 500px) {
  /* line 2, sass/organisms/_news-loop-two.scss */
  .news-loop-two .container {
    width: 70%;
  }
}

@media only screen and (min-width: 640px) {
  /* line 2, sass/organisms/_news-loop-two.scss */
  .news-loop-two .container {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 2, sass/organisms/_news-loop-two.scss */
  .news-loop-two .container {
    width: 960px;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 0;
  }
}

@media only screen and (min-width: 1440px) {
  /* line 2, sass/organisms/_news-loop-two.scss */
  .news-loop-two .container {
    width: 1280px;
    grid-column-gap: 26px;
  }
}

/* line 21, sass/organisms/_news-loop-two.scss */
.news-loop-two .post-item {
  grid-column: span 1;
}

@media only screen and (min-width: 1024px) {
  /* line 21, sass/organisms/_news-loop-two.scss */
  .news-loop-two .post-item {
    grid-column: span 3;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 26, sass/organisms/_news-loop-two.scss */
  .news-loop-two .post-item--n-1 {
    grid-column: span 6;
  }
}

/* line 30, sass/organisms/_news-loop-two.scss */
.news-loop-two .post-item--n-1 .post-item__title {
  font-size: 16px;
}

@media only screen and (min-width: 640px) {
  /* line 30, sass/organisms/_news-loop-two.scss */
  .news-loop-two .post-item--n-1 .post-item__title {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 30, sass/organisms/_news-loop-two.scss */
  .news-loop-two .post-item--n-1 .post-item__title {
    font-size: 20px;
  }
}

/* line 40, sass/organisms/_news-loop-two.scss */
.news-loop-two .post-item--n-2, .news-loop-two .post-item--n-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
  align-items: center;
}

@media only screen and (min-width: 640px) {
  /* line 40, sass/organisms/_news-loop-two.scss */
  .news-loop-two .post-item--n-2, .news-loop-two .post-item--n-3 {
    display: block;
  }
}

/* line 48, sass/organisms/_news-loop-two.scss */
.news-loop-two .post-item--n-2__image, .news-loop-two .post-item--n-3__image {
  grid-column: span 1;
}

/* line 51, sass/organisms/_news-loop-two.scss */
.news-loop-two .post-item--n-2__content, .news-loop-two .post-item--n-3__content {
  grid-column: span 1;
}

/* line 54, sass/organisms/_news-loop-two.scss */
.news-loop-two .post-item--n-2 .post-item__content, .news-loop-two .post-item--n-3 .post-item__content {
  padding: 10px;
}

@media only screen and (min-width: 640px) {
  /* line 54, sass/organisms/_news-loop-two.scss */
  .news-loop-two .post-item--n-2 .post-item__content, .news-loop-two .post-item--n-3 .post-item__content {
    padding: 26px;
  }
}

/* line 60, sass/organisms/_news-loop-two.scss */
.news-loop-two .post-item--n-2 .post-item__category, .news-loop-two .post-item--n-3 .post-item__category {
  display: none;
}

@media only screen and (min-width: 640px) {
  /* line 60, sass/organisms/_news-loop-two.scss */
  .news-loop-two .post-item--n-2 .post-item__category, .news-loop-two .post-item--n-3 .post-item__category {
    display: inline-block;
  }
}

/* line 66, sass/organisms/_news-loop-two.scss */
.news-loop-two .post-item--n-2 .post-item__image,
.news-loop-two .post-item--n-2 .post-item__permalink-image,
.news-loop-two .post-item--n-2 .post-item__post-image, .news-loop-two .post-item--n-3 .post-item__image,
.news-loop-two .post-item--n-3 .post-item__permalink-image,
.news-loop-two .post-item--n-3 .post-item__post-image {
  height: 100%;
}

@media only screen and (min-width: 360px) {
  /* line 66, sass/organisms/_news-loop-two.scss */
  .news-loop-two .post-item--n-2 .post-item__image,
  .news-loop-two .post-item--n-2 .post-item__permalink-image,
  .news-loop-two .post-item--n-2 .post-item__post-image, .news-loop-two .post-item--n-3 .post-item__image,
  .news-loop-two .post-item--n-3 .post-item__permalink-image,
  .news-loop-two .post-item--n-3 .post-item__post-image {
    height: auto;
  }
}

/* line 74, sass/organisms/_news-loop-two.scss */
.news-loop-two .post-item--n-2 .post-item__image,
.news-loop-two .post-item--n-2 .post-item__post-image, .news-loop-two .post-item--n-3 .post-item__image,
.news-loop-two .post-item--n-3 .post-item__post-image {
  border-radius: 18px 0 0 18px;
}

@media only screen and (min-width: 640px) {
  /* line 74, sass/organisms/_news-loop-two.scss */
  .news-loop-two .post-item--n-2 .post-item__image,
  .news-loop-two .post-item--n-2 .post-item__post-image, .news-loop-two .post-item--n-3 .post-item__image,
  .news-loop-two .post-item--n-3 .post-item__post-image {
    border-radius: 18px 18px 0 0;
  }
}

/* line 83, sass/organisms/_news-loop-two.scss */
.news-loop-two .post-item--n-4 .post-item__image,
.news-loop-two .post-item--n-5 .post-item__image,
.news-loop-two .post-item--n-6 .post-item__image,
.news-loop-two .post-item--n-7 .post-item__image {
  display: none;
}

/* line 90, sass/organisms/_news-loop-two.scss */
.news-loop-two .post-item--n-2 .post-item__title,
.news-loop-two .post-item--n-3 .post-item__title,
.news-loop-two .post-item--n-4 .post-item__title,
.news-loop-two .post-item--n-5 .post-item__title,
.news-loop-two .post-item--n-6 .post-item__title,
.news-loop-two .post-item--n-7 .post-item__title {
  font-size: 13px;
}

@media only screen and (min-width: 360px) {
  /* line 90, sass/organisms/_news-loop-two.scss */
  .news-loop-two .post-item--n-2 .post-item__title,
  .news-loop-two .post-item--n-3 .post-item__title,
  .news-loop-two .post-item--n-4 .post-item__title,
  .news-loop-two .post-item--n-5 .post-item__title,
  .news-loop-two .post-item--n-6 .post-item__title,
  .news-loop-two .post-item--n-7 .post-item__title {
    font-size: 14px;
  }
}

@media only screen and (min-width: 640px) {
  /* line 90, sass/organisms/_news-loop-two.scss */
  .news-loop-two .post-item--n-2 .post-item__title,
  .news-loop-two .post-item--n-3 .post-item__title,
  .news-loop-two .post-item--n-4 .post-item__title,
  .news-loop-two .post-item--n-5 .post-item__title,
  .news-loop-two .post-item--n-6 .post-item__title,
  .news-loop-two .post-item--n-7 .post-item__title {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  /* line 90, sass/organisms/_news-loop-two.scss */
  .news-loop-two .post-item--n-2 .post-item__title,
  .news-loop-two .post-item--n-3 .post-item__title,
  .news-loop-two .post-item--n-4 .post-item__title,
  .news-loop-two .post-item--n-5 .post-item__title,
  .news-loop-two .post-item--n-6 .post-item__title,
  .news-loop-two .post-item--n-7 .post-item__title {
    font-size: 18px;
  }
}

/* line 108, sass/organisms/_news-loop-two.scss */
.news-loop-two .post-item--n-2 .post-item__wrapper-excerpt,
.news-loop-two .post-item--n-3 .post-item__wrapper-excerpt,
.news-loop-two .post-item--n-4 .post-item__wrapper-excerpt,
.news-loop-two .post-item--n-5 .post-item__wrapper-excerpt,
.news-loop-two .post-item--n-6 .post-item__wrapper-excerpt,
.news-loop-two .post-item--n-7 .post-item__wrapper-excerpt {
  display: none;
}

@media only screen and (min-width: 640px) {
  /* line 108, sass/organisms/_news-loop-two.scss */
  .news-loop-two .post-item--n-2 .post-item__wrapper-excerpt,
  .news-loop-two .post-item--n-3 .post-item__wrapper-excerpt,
  .news-loop-two .post-item--n-4 .post-item__wrapper-excerpt,
  .news-loop-two .post-item--n-5 .post-item__wrapper-excerpt,
  .news-loop-two .post-item--n-6 .post-item__wrapper-excerpt,
  .news-loop-two .post-item--n-7 .post-item__wrapper-excerpt {
    display: block;
  }
}

/* line 2, sass/organisms/_news-loop-three.scss */
.news-loop-three .container {
  grid-template-columns: 1fr;
  position: relative;
  z-index: 3;
}

@media only screen and (min-width: 500px) {
  /* line 2, sass/organisms/_news-loop-three.scss */
  .news-loop-three .container {
    width: 70%;
  }
}

@media only screen and (min-width: 640px) {
  /* line 2, sass/organisms/_news-loop-three.scss */
  .news-loop-three .container {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 2, sass/organisms/_news-loop-three.scss */
  .news-loop-three .container {
    width: 960px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 0;
  }
}

@media only screen and (min-width: 1440px) {
  /* line 2, sass/organisms/_news-loop-three.scss */
  .news-loop-three .container {
    width: 1280px;
    grid-column-gap: 26px;
  }
}

/* line 24, sass/organisms/_news-loop-three.scss */
.news-loop-three .post-item {
  grid-column: span 1;
}

@media only screen and (min-width: 1024px) {
  /* line 24, sass/organisms/_news-loop-three.scss */
  .news-loop-three .post-item {
    grid-column: span 3;
    grid-row: span 1;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 30, sass/organisms/_news-loop-three.scss */
  .news-loop-three .post-item--n-1 {
    grid-column: span 6;
    grid-row: span 2;
  }
}

/* line 35, sass/organisms/_news-loop-three.scss */
.news-loop-three .post-item--n-1 .post-item__title {
  font-size: 16px;
}

@media only screen and (min-width: 640px) {
  /* line 35, sass/organisms/_news-loop-three.scss */
  .news-loop-three .post-item--n-1 .post-item__title {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 35, sass/organisms/_news-loop-three.scss */
  .news-loop-three .post-item--n-1 .post-item__title {
    font-size: 20px;
  }
}

/* line 45, sass/organisms/_news-loop-three.scss */
.news-loop-three .post-item--n-2, .news-loop-three .post-item--n-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
  align-items: center;
}

@media only screen and (min-width: 640px) {
  /* line 45, sass/organisms/_news-loop-three.scss */
  .news-loop-three .post-item--n-2, .news-loop-three .post-item--n-3 {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 45, sass/organisms/_news-loop-three.scss */
  .news-loop-three .post-item--n-2, .news-loop-three .post-item--n-3 {
    display: grid;
    grid-column: span 6;
    grid-row: span 1;
  }
}

/* line 58, sass/organisms/_news-loop-three.scss */
.news-loop-three .post-item--n-2__image, .news-loop-three .post-item--n-3__image {
  grid-column: span 1;
}

/* line 61, sass/organisms/_news-loop-three.scss */
.news-loop-three .post-item--n-2__content, .news-loop-three .post-item--n-3__content {
  grid-column: span 1;
}

/* line 64, sass/organisms/_news-loop-three.scss */
.news-loop-three .post-item--n-2 .post-item__content, .news-loop-three .post-item--n-3 .post-item__content {
  padding: 10px;
}

@media only screen and (min-width: 640px) {
  /* line 64, sass/organisms/_news-loop-three.scss */
  .news-loop-three .post-item--n-2 .post-item__content, .news-loop-three .post-item--n-3 .post-item__content {
    padding: 26px;
  }
}

/* line 70, sass/organisms/_news-loop-three.scss */
.news-loop-three .post-item--n-2 .post-item__category, .news-loop-three .post-item--n-3 .post-item__category {
  display: none;
}

@media only screen and (min-width: 640px) {
  /* line 70, sass/organisms/_news-loop-three.scss */
  .news-loop-three .post-item--n-2 .post-item__category, .news-loop-three .post-item--n-3 .post-item__category {
    display: inline-block;
  }
}

/* line 76, sass/organisms/_news-loop-three.scss */
.news-loop-three .post-item--n-2 .post-item__image,
.news-loop-three .post-item--n-2 .post-item__permalink-image,
.news-loop-three .post-item--n-2 .post-item__post-image, .news-loop-three .post-item--n-3 .post-item__image,
.news-loop-three .post-item--n-3 .post-item__permalink-image,
.news-loop-three .post-item--n-3 .post-item__post-image {
  height: 100%;
}

@media only screen and (min-width: 360px) {
  /* line 76, sass/organisms/_news-loop-three.scss */
  .news-loop-three .post-item--n-2 .post-item__image,
  .news-loop-three .post-item--n-2 .post-item__permalink-image,
  .news-loop-three .post-item--n-2 .post-item__post-image, .news-loop-three .post-item--n-3 .post-item__image,
  .news-loop-three .post-item--n-3 .post-item__permalink-image,
  .news-loop-three .post-item--n-3 .post-item__post-image {
    height: auto;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 76, sass/organisms/_news-loop-three.scss */
  .news-loop-three .post-item--n-2 .post-item__image,
  .news-loop-three .post-item--n-2 .post-item__permalink-image,
  .news-loop-three .post-item--n-2 .post-item__post-image, .news-loop-three .post-item--n-3 .post-item__image,
  .news-loop-three .post-item--n-3 .post-item__permalink-image,
  .news-loop-three .post-item--n-3 .post-item__post-image {
    height: 100%;
  }
}

/* line 87, sass/organisms/_news-loop-three.scss */
.news-loop-three .post-item--n-2 .post-item__image,
.news-loop-three .post-item--n-2 .post-item__post-image, .news-loop-three .post-item--n-3 .post-item__image,
.news-loop-three .post-item--n-3 .post-item__post-image {
  border-radius: 18px 0 0 18px;
}

@media only screen and (min-width: 640px) {
  /* line 87, sass/organisms/_news-loop-three.scss */
  .news-loop-three .post-item--n-2 .post-item__image,
  .news-loop-three .post-item--n-2 .post-item__post-image, .news-loop-three .post-item--n-3 .post-item__image,
  .news-loop-three .post-item--n-3 .post-item__post-image {
    border-radius: 18px 18px 0 0;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 87, sass/organisms/_news-loop-three.scss */
  .news-loop-three .post-item--n-2 .post-item__image,
  .news-loop-three .post-item--n-2 .post-item__post-image, .news-loop-three .post-item--n-3 .post-item__image,
  .news-loop-three .post-item--n-3 .post-item__post-image {
    border-radius: 18px 0 0 18px;
  }
}

/* line 99, sass/organisms/_news-loop-three.scss */
.news-loop-three .post-item--n-4 .post-item__image,
.news-loop-three .post-item--n-5 .post-item__image,
.news-loop-three .post-item--n-6 .post-item__image,
.news-loop-three .post-item--n-7 .post-item__image {
  display: none;
}

/* line 106, sass/organisms/_news-loop-three.scss */
.news-loop-three .post-item--n-2 .post-item__title,
.news-loop-three .post-item--n-3 .post-item__title,
.news-loop-three .post-item--n-4 .post-item__title,
.news-loop-three .post-item--n-5 .post-item__title,
.news-loop-three .post-item--n-6 .post-item__title,
.news-loop-three .post-item--n-7 .post-item__title {
  font-size: 13px;
}

@media only screen and (min-width: 360px) {
  /* line 106, sass/organisms/_news-loop-three.scss */
  .news-loop-three .post-item--n-2 .post-item__title,
  .news-loop-three .post-item--n-3 .post-item__title,
  .news-loop-three .post-item--n-4 .post-item__title,
  .news-loop-three .post-item--n-5 .post-item__title,
  .news-loop-three .post-item--n-6 .post-item__title,
  .news-loop-three .post-item--n-7 .post-item__title {
    font-size: 14px;
  }
}

@media only screen and (min-width: 640px) {
  /* line 106, sass/organisms/_news-loop-three.scss */
  .news-loop-three .post-item--n-2 .post-item__title,
  .news-loop-three .post-item--n-3 .post-item__title,
  .news-loop-three .post-item--n-4 .post-item__title,
  .news-loop-three .post-item--n-5 .post-item__title,
  .news-loop-three .post-item--n-6 .post-item__title,
  .news-loop-three .post-item--n-7 .post-item__title {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  /* line 106, sass/organisms/_news-loop-three.scss */
  .news-loop-three .post-item--n-2 .post-item__title,
  .news-loop-three .post-item--n-3 .post-item__title,
  .news-loop-three .post-item--n-4 .post-item__title,
  .news-loop-three .post-item--n-5 .post-item__title,
  .news-loop-three .post-item--n-6 .post-item__title,
  .news-loop-three .post-item--n-7 .post-item__title {
    font-size: 18px;
  }
}

/* line 124, sass/organisms/_news-loop-three.scss */
.news-loop-three .post-item--n-2 .post-item__wrapper-excerpt,
.news-loop-three .post-item--n-3 .post-item__wrapper-excerpt,
.news-loop-three .post-item--n-4 .post-item__wrapper-excerpt,
.news-loop-three .post-item--n-5 .post-item__wrapper-excerpt,
.news-loop-three .post-item--n-6 .post-item__wrapper-excerpt,
.news-loop-three .post-item--n-7 .post-item__wrapper-excerpt {
  display: none;
}

@media only screen and (min-width: 640px) {
  /* line 124, sass/organisms/_news-loop-three.scss */
  .news-loop-three .post-item--n-2 .post-item__wrapper-excerpt,
  .news-loop-three .post-item--n-3 .post-item__wrapper-excerpt,
  .news-loop-three .post-item--n-4 .post-item__wrapper-excerpt,
  .news-loop-three .post-item--n-5 .post-item__wrapper-excerpt,
  .news-loop-three .post-item--n-6 .post-item__wrapper-excerpt,
  .news-loop-three .post-item--n-7 .post-item__wrapper-excerpt {
    display: block;
  }
}

/* line 2, sass/organisms/_news-loop-four.scss */
.news-loop-four .container {
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 500px) {
  /* line 2, sass/organisms/_news-loop-four.scss */
  .news-loop-four .container {
    width: 70%;
  }
}

@media only screen and (min-width: 640px) {
  /* line 2, sass/organisms/_news-loop-four.scss */
  .news-loop-four .container {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 2, sass/organisms/_news-loop-four.scss */
  .news-loop-four .container {
    width: 960px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 13px;
  }
}

@media only screen and (min-width: 1440px) {
  /* line 2, sass/organisms/_news-loop-four.scss */
  .news-loop-four .container {
    width: 1280px;
    grid-gap: 26px;
  }
}

/* line 20, sass/organisms/_news-loop-four.scss */
.news-loop-four .post-item,
.news-loop-four .ad-inline-rectangle {
  grid-column: span 1;
}

/* line 1, sass/organisms/_featured-news.scss */
.featured-news {
  padding-bottom: 52px;
  background: #f4f4f4;
}

/* line 4, sass/organisms/_featured-news.scss */
.featured-news__image-socle {
  width: 100%;
}

/* line 7, sass/organisms/_featured-news.scss */
.featured-news__wrapper {
  margin-top: -175px;
}

@media only screen and (min-width: 400px) {
  /* line 7, sass/organisms/_featured-news.scss */
  .featured-news__wrapper {
    margin-top: -250px;
  }
}

@media only screen and (min-width: 640px) {
  /* line 7, sass/organisms/_featured-news.scss */
  .featured-news__wrapper {
    margin-top: -175px;
  }
}

@media only screen and (min-width: 840px) {
  /* line 7, sass/organisms/_featured-news.scss */
  .featured-news__wrapper {
    margin-top: -250px;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 7, sass/organisms/_featured-news.scss */
  .featured-news__wrapper {
    margin-top: -300px;
  }
}

@media only screen and (min-width: 1440px) {
  /* line 7, sass/organisms/_featured-news.scss */
  .featured-news__wrapper {
    margin-top: -400px;
  }
}

/* line 1, sass/organisms/_ad-section-red.scss */
.ad-section-red {
  position: relative;
  margin-top: -50px;
  z-index: 1;
}

@media only screen and (min-width: 640px) {
  /* line 1, sass/organisms/_ad-section-red.scss */
  .ad-section-red {
    margin-top: -75px;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 1, sass/organisms/_ad-section-red.scss */
  .ad-section-red {
    margin-top: -100px;
  }
}

@media only screen and (min-width: 1440px) {
  /* line 1, sass/organisms/_ad-section-red.scss */
  .ad-section-red {
    margin-top: -150px;
  }
}

/* line 14, sass/organisms/_ad-section-red.scss */
.ad-section-red .ad-leaderboard {
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 640px) {
  /* line 14, sass/organisms/_ad-section-red.scss */
  .ad-section-red .ad-leaderboard {
    width: auto;
  }
}

/* line 24, sass/organisms/_ad-section-red.scss */
.ad-section-red__image {
  height: 300px;
}

@media only screen and (min-width: 640px) {
  /* line 24, sass/organisms/_ad-section-red.scss */
  .ad-section-red__image {
    height: 350px;
  }
}

@media only screen and (min-width: 750px) {
  /* line 24, sass/organisms/_ad-section-red.scss */
  .ad-section-red__image {
    height: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 24, sass/organisms/_ad-section-red.scss */
  .ad-section-red__image {
    height: 550px;
  }
}

@media only screen and (min-width: 1440px) {
  /* line 24, sass/organisms/_ad-section-red.scss */
  .ad-section-red__image {
    height: 100%;
  }
}

/* line 1, sass/organisms/_section-one-home.scss */
.section-one-home {
  padding-top: 52px;
  background: #eaeaea;
}

/* line 4, sass/organisms/_section-one-home.scss */
.section-one-home .news-loop-two {
  position: relative;
  z-index: 2;
}

/* line 1, sass/organisms/_section-two-home.scss */
.section-two-home {
  background: #f4f4f4;
  padding-bottom: 52px;
}

/* line 5, sass/organisms/_section-two-home.scss */
.section-two-home .title-section .container {
  position: relative;
  margin-top: -90px;
  z-index: 3;
}

@media only screen and (min-width: 640px) {
  /* line 5, sass/organisms/_section-two-home.scss */
  .section-two-home .title-section .container {
    margin-top: -125px;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 5, sass/organisms/_section-two-home.scss */
  .section-two-home .title-section .container {
    margin-top: -150px;
  }
}

@media only screen and (min-width: 1440px) {
  /* line 5, sass/organisms/_section-two-home.scss */
  .section-two-home .title-section .container {
    margin-top: -200px;
  }
}

/* line 19, sass/organisms/_section-two-home.scss */
.section-two-home .title-section__line {
  background: #ffffff;
}

/* line 1, sass/organisms/_section-three-home.scss */
.section-three-home {
  padding-top: 52px;
  background: #eaeaea;
}

/* line 1, sass/organisms/_section-four-home.scss */
.section-four-home {
  padding: 52px 0;
  background: #eaeaea;
}

/* line 1, sass/organisms/_section-five-home.scss */
.section-five-home {
  padding: 52px 0;
  background: #e0e0e0;
}

/* line 1, sass/organisms/_most-viewed.scss */
.most-viewed {
  background: #0c141b;
  padding: 78px 0;
}

@media only screen and (min-width: 1024px) {
  /* line 1, sass/organisms/_most-viewed.scss */
  .most-viewed {
    background: #eaeaea;
    background-image: url("../images/home/back-section-most-viewed.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

/* line 12, sass/organisms/_most-viewed.scss */
.most-viewed .container {
  grid-template-columns: 1fr;
  width: 100%;
}

@media only screen and (min-width: 500px) {
  /* line 12, sass/organisms/_most-viewed.scss */
  .most-viewed .container {
    width: 90%;
  }
}

@media only screen and (min-width: 640px) {
  /* line 12, sass/organisms/_most-viewed.scss */
  .most-viewed .container {
    width: 60%;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 12, sass/organisms/_most-viewed.scss */
  .most-viewed .container {
    width: 960px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 13px;
  }
}

@media only screen and (min-width: 1440px) {
  /* line 12, sass/organisms/_most-viewed.scss */
  .most-viewed .container {
    width: 1280px;
    grid-gap: 26px;
  }
}

/* line 32, sass/organisms/_most-viewed.scss */
.most-viewed .title-section__title,
.most-viewed .title-section__line {
  grid-column: span 1;
}

@media only screen and (min-width: 1024px) {
  /* line 32, sass/organisms/_most-viewed.scss */
  .most-viewed .title-section__title,
  .most-viewed .title-section__line {
    grid-column: span 3;
  }
}

/* line 39, sass/organisms/_most-viewed.scss */
.most-viewed .post-item {
  grid-column: span 1;
}

/* line 43, sass/organisms/_most-viewed.scss */
.most-viewed .swiper-container {
  max-width: 100%;
  grid-column: span 1;
}

@media only screen and (min-width: 1024px) {
  /* line 43, sass/organisms/_most-viewed.scss */
  .most-viewed .swiper-container {
    grid-column: span 3;
  }
}

/* line 50, sass/organisms/_most-viewed.scss */
.most-viewed .swiper-slide {
  height: auto;
}

/* line 57, sass/organisms/_most-viewed.scss */
.most-viewed .swiper-pagination {
  display: none;
}

/* line 66, sass/organisms/_most-viewed.scss */
.most-viewed .news-loop-carousel__controls {
  grid-column: span 1;
  text-align: center;
  padding: 13px 0;
}

@media only screen and (min-width: 1024px) {
  /* line 66, sass/organisms/_most-viewed.scss */
  .most-viewed .news-loop-carousel__controls {
    grid-column: span 3;
  }
}

/* line 74, sass/organisms/_most-viewed.scss */
.most-viewed .swiper-button-prev,
.most-viewed .swiper-button-next {
  display: inline-block;
  position: static;
  margin: 0 26px;
  color: #ffffff;
}

/* line 80, sass/organisms/_most-viewed.scss */
.most-viewed .swiper-button-prev:focus,
.most-viewed .swiper-button-next:focus {
  outline: 0;
}

/* line 83, sass/organisms/_most-viewed.scss */
.most-viewed .swiper-button-prev:after,
.most-viewed .swiper-button-next:after {
  font-size: 30px;
}

/* line 88, sass/organisms/_most-viewed.scss */
.most-viewed .post-item__number-post {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #de1326;
  padding: 10px 30px;
}

/* line 95, sass/organisms/_most-viewed.scss */
.most-viewed .post-item__number-post p {
  display: inline-block;
  color: #ffffff;
  font-family: "Museo Slab", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

@media only screen and (min-width: 1024px) {
  /* line 95, sass/organisms/_most-viewed.scss */
  .most-viewed .post-item__number-post p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  /* line 95, sass/organisms/_most-viewed.scss */
  .most-viewed .post-item__number-post p {
    font-size: 18px;
  }
}

/* line 1, sass/organisms/_wrapper-main-news-section.scss */
.wrapper-main-news-section {
  padding-top: 52px;
  background: #0c141b;
}

/* line 1, sass/organisms/_latest-news.scss */
.latest-news {
  padding-bottom: 52px;
  background: #f4f4f4;
}

/* line 4, sass/organisms/_latest-news.scss */
.latest-news__image-socle {
  width: 100%;
}

/* line 7, sass/organisms/_latest-news.scss */
.latest-news__wrapper {
  margin-top: -175px;
}

@media only screen and (min-width: 400px) {
  /* line 7, sass/organisms/_latest-news.scss */
  .latest-news__wrapper {
    margin-top: -250px;
  }
}

@media only screen and (min-width: 640px) {
  /* line 7, sass/organisms/_latest-news.scss */
  .latest-news__wrapper {
    margin-top: -175px;
  }
}

@media only screen and (min-width: 840px) {
  /* line 7, sass/organisms/_latest-news.scss */
  .latest-news__wrapper {
    margin-top: -250px;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 7, sass/organisms/_latest-news.scss */
  .latest-news__wrapper {
    margin-top: -300px;
  }
}

@media only screen and (min-width: 1440px) {
  /* line 7, sass/organisms/_latest-news.scss */
  .latest-news__wrapper {
    margin-top: -400px;
  }
}

/* line 1, sass/organisms/_footer.scss */
.footer {
  background: #0c141b;
  text-align: center;
}

/* line 4, sass/organisms/_footer.scss */
.footer__logo {
  padding: 13px 0;
  text-align: center;
}

/* line 8, sass/organisms/_footer.scss */
.footer .logo__image {
  margin: 0 auto;
  width: 175px;
}

@media only screen and (min-width: 1024px) {
  /* line 8, sass/organisms/_footer.scss */
  .footer .logo__image {
    width: 200px;
  }
}

/* line 15, sass/organisms/_footer.scss */
.footer__menu {
  padding: 26px 0;
  background: #0e171e;
}

/* line 19, sass/organisms/_footer.scss */
.footer__items {
  padding: 13px 13px;
}

/* line 21, sass/organisms/_footer.scss */
.footer__items:hover .footer__links {
  color: #de1326;
  -webkit-transform: translateY(13%);
  transform: translateY(13%);
}

@media only screen and (min-width: 1024px) {
  /* line 19, sass/organisms/_footer.scss */
  .footer__items {
    display: inline-block;
  }
}

@media only screen and (min-width: 1440px) {
  /* line 19, sass/organisms/_footer.scss */
  .footer__items {
    padding: 0 26px;
  }
}

/* line 32, sass/organisms/_footer.scss */
.footer__links {
  display: inline-block;
  font-family: "Museo Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

@media only screen and (min-width: 1024px) {
  /* line 32, sass/organisms/_footer.scss */
  .footer__links {
    font-size: 12px;
  }
}

/* line 44, sass/organisms/_footer.scss */
.footer__bottom {
  background: #0e171e;
}

/* line 46, sass/organisms/_footer.scss */
.footer__bottom .container {
  padding: 26px 0;
  border-top: solid 1px #445766;
}

/* line 51, sass/organisms/_footer.scss */
.footer__copyright {
  font-family: "Museo Sans", sans-serif;
  font-size: 9px;
  font-weight: 500;
  color: #ffffff;
}

@media only screen and (min-width: 1024px) {
  /* line 51, sass/organisms/_footer.scss */
  .footer__copyright {
    font-size: 11px;
  }
}
