.close-menu {
	grid-column: span 2;
	text-align: center;
	@include m-min {
		grid-column: span 1;
	}
	&__button {
		border: solid 1px #435460;
		border-radius: 50%;
		position: relative;
		width: 32px;
		height: 32px;
		cursor: pointer;
		transition: .4s ease;
		@media only screen and (min-width: 400px) {
			width: 37px;
			height: 37px;
		}
		@include m-min {
			width: 40px;
			height: 40px;
		}
		background: transparent;
		&:hover {
			transform: rotate(180deg);
		}
	}
	&__line-1,
	&__line-2 {
		display: block;
		position: absolute;
		width: 17px;
		height: 2px;
		left: 7px;
		top: 14px;
		background: #ffffff;
		transition: .4s ease;
		// transform-origin: top left;
		@media only screen and (min-width: 400px) {
			width: 18px;
			left: 9px;
			top: 18px;
		}
		@include m-min {
			width: 20px;
		}
	}
	&__line-1 {
		transform: rotate(135deg);
	}
	&__line-2 {
		transform: rotate(-135deg);
	}
}