.weather {

	align-items: center;
	display: flex;
	justify-content: center;

	@include m-min {
		display: inline;
		padding: 0 $lh/3;
	}

	&__info {
		display: inline;
		font-family: $ff1;
		font-size: 14px;
		line-height: $lh;
		vertical-align: middle;
		@include l-min {
			font-size: 16px;
		}
	}

	&__state
	{
		color: #de1326;
		display: block;
		font-size: 24px;
		margin-right: 5px;
		vertical-align: middle;
	}
}
