html {
	scroll-behavior: smooth;
}
body {
	font-family: $ff2;
}

a {
	text-decoration: none;
	color: inherit;
}

button:focus {
	outline: none;
}
.image--fluid {
	max-width: 100%;
}
.color--white {
	color: #ffffff !important;
}
.background--gray {
	background: #b5b5b5 !important;
}