// Font

$ff1: 'Museo Slab' , sans-serif;
$ff2: 'Museo Sans' , sans-serif;;

// Colors

$color_primary: #0c141b;
$color_secundary: #de1326;
$gray1: #f4f4f4;
$gray2: #eaeaea;

// Line Height

$lh: 26px;