.menu {
	// Toolbar 
	// margin-top: 32px;

	position: fixed;
	background: #0e171e;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 100%;
	box-sizing: border-box;
	overflow-y: scroll;
	transition: .6s ease;
	z-index: 9999;
	@include m-min {
		height: 100vh;
	}
	&__header {
		display: grid;
		grid-template-columns: repeat(3,1fr);
		grid-gap: $lh/2;
		padding: $lh 0;
		background: $color_primary;	
		@include m-min {
			grid-gap: $lh;
		}
	}
	.logo {
		display: grid;
		grid-column: span 2;
		@include m-min {
			grid-column: 2 / 3;
		}
		&__image {
			width: 75%;
			margin: 0 auto;
			@media only screen and (min-width: 400px) {
				width: 60%;
			}
			@include m-min {
				width: 200px;
			}
		}
	}
	.close-menu {
		display: grid;
		grid-column: span 1;
		justify-content: center;
		align-items: center;
	}
	&__radio {
		.radio {
			display: block;
			text-align: center;
			color: #ffffff;
			&__image {
				width: 15%;
				@media only screen and (min-width: 400px) {
					width: 12%;
				}
			}
		}
		display: grid;
		grid-template-columns: 1fr;
		justify-content: center;
		align-items: center;
		padding: $lh/2 0;
		@include m-min {
			display: none;
		}
	}
	&__nav {
		display: grid;
		padding-left: $lh*2;
		@include m-min {
			padding-left: 0;
		}
		@include l-min {
			padding-top: $lh*2;
			padding-bottom: $lh*2;
		}
	}
	&__items {
		padding: $lh/2 0;
		text-align: left;
		&:hover .menu__links {
			color: $color_secundary;
			transform: translateY(13%);
		}
		@include m-min {
			text-align: center;
		}
	}
	&__links {
		display: inline-block;
		font-family: $ff1;
		color: #ffffff;
		transition: .4s ease;
	}
	&__social {
		display: grid;
		justify-content: center;
		align-items: center;
		.social {
			display: block;
			text-align: center;
			border-top: solid 1px #445766;
			padding: $lh 0;
			&__icon {
				width: 10%;
			}
		}
	}
}